@import "../../scss/abstracts/mixins";

.top-content {
    width: 100%;
    height: 25rem;
    position: relative;
    @include flex-center-column;
    background-image: url("../../assets/images/heroImg.jpg");
    background-position: bottom;
    @include reset-bg;
    background-attachment: fixed;
    color: white;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.39);
        z-index: 1;
    }

    .title {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 2;
    }

    .description {
        position: relative;
        text-transform: capitalize;
        font-size: 1.2rem;
        z-index: 3;
    }
}
